Intermoda.ClientProxy.Lavanderia/Service References/SecadoraCapacidadServiceReference/SecadoraCapacidad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SecadoraCapacidadBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapacidadMaximaKg" type="xs:decimal" />
      <xs:element minOccurs="0" name="CapacidadMinimaKg" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecadoraCapacidadBusiness" nillable="true" type="tns:SecadoraCapacidadBusiness" />
  <xs:complexType name="ArrayOfSecadoraCapacidadBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecadoraCapacidadBusiness" nillable="true" type="tns:SecadoraCapacidadBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecadoraCapacidadBusiness" nillable="true" type="tns:ArrayOfSecadoraCapacidadBusiness" />
</xs:schema>