Intermoda.ClientProxy.Lavanderia/Service References/OrdenProduccionLavanderiaServiceReference/OrdenProduccionLavanderia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrdenProduccionLavanderiaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenProduccionLavanderiaBusiness" nillable="true" type="tns:OrdenProduccionLavanderiaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenProduccionLavanderiaBusiness" nillable="true" type="tns:ArrayOfOrdenProduccionLavanderiaBusiness" />
  <xs:complexType name="OrdenProduccionLavanderiaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" type="xs:short" />
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadEntradaLavanderia2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadFinalEnsamble" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadPendiente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CentroTrabajoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompaniaId" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFinalProgramada" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioProgramada" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LavadoCodigoOld" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LavadoId" type="xs:int" />
      <xs:element minOccurs="0" name="LavadoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:short" />
      <xs:element minOccurs="0" name="Patron" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoUnidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="PlantaId" type="xs:int" />
      <xs:element minOccurs="0" name="TelaProduccionCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelaVentaCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Variante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenProduccionLavanderiaBusiness" nillable="true" type="tns:OrdenProduccionLavanderiaBusiness" />
</xs:schema>