Intermoda.ClientProxy.Lavanderia/Service References/OrdenProduccionLavanderiaServiceReference/OrdenProduccionLavanderia2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IntermodaService/Lavanderia/OrdenProduccionLavanderia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companiaId" type="xs:short" />
        <xs:element minOccurs="0" name="plantId" type="xs:int" />
        <xs:element minOccurs="0" name="centroTrabajoId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" minOccurs="0" name="GetResult" nillable="true" type="q1:ArrayOfOrdenProduccionLavanderiaBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>