Intermoda.ClientProxy.Lavanderia/Service References/SecadoraServiceReference/Secadora2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SecadoraBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="DireccionIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionMac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecadoraCapacidad" nillable="true" type="tns:SecadoraCapacidadBusiness" />
      <xs:element minOccurs="0" name="SecadoraCapacidadId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecadoraBusiness" nillable="true" type="tns:SecadoraBusiness" />
  <xs:complexType name="SecadoraCapacidadBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapacidadMaximaKg" type="xs:decimal" />
      <xs:element minOccurs="0" name="CapacidadMinimaKg" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecadoraCapacidadBusiness" nillable="true" type="tns:SecadoraCapacidadBusiness" />
  <xs:complexType name="ArrayOfSecadoraBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecadoraBusiness" nillable="true" type="tns:SecadoraBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecadoraBusiness" nillable="true" type="tns:ArrayOfSecadoraBusiness" />
</xs:schema>