Intermoda.ClientProxy.Lavanderia/Service References/ClaseServiceReference/Clase31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClaseBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgrupacionCodigo" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="AgruparEnClaseCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaCodigo" type="xs:short" />
      <xs:element minOccurs="0" name="CuentaContable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetalleMaestra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasSinMovimiento" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManejaInventario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RotacionBaja" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="SinRotacion" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaseBusiness" nillable="true" type="tns:ClaseBusiness" />
  <xs:complexType name="ArrayOfClaseBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaseBusiness" nillable="true" type="tns:ClaseBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaseBusiness" nillable="true" type="tns:ArrayOfClaseBusiness" />
</xs:schema>