Intermoda.ClientProxy.Lavanderia/Service References/TelaColorIntermodaServiceReference/TelaColorIntermoda31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TelaColorIntermodaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorIntermoda" nillable="true" type="tns:ColorIntermodaBusiness" />
      <xs:element minOccurs="0" name="ColorIntermodaId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Material" nillable="true" type="tns:CatalogoBusiness" />
      <xs:element minOccurs="0" name="MaterialId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tela" nillable="true" type="tns:TelaBusiness" />
      <xs:element minOccurs="0" name="TelaId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TelaColorIntermodaBusiness" nillable="true" type="tns:TelaColorIntermodaBusiness" />
  <xs:complexType name="ColorIntermodaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorIntermodaBusiness" nillable="true" type="tns:ColorIntermodaBusiness" />
  <xs:complexType name="CatalogoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuentaContableCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaContableInventarioCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaVariableFija" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MedidaCompraCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedidaConsumoCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepuestoNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelaCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRequisicionCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogoBusiness" nillable="true" type="tns:CatalogoBusiness" />
  <xs:complexType name="TelaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComposicionNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialCodigo" type="xs:int" />
      <xs:element minOccurs="0" name="TelaCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelaDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelaNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TelaBusiness" nillable="true" type="tns:TelaBusiness" />
  <xs:complexType name="ArrayOfTelaColorIntermodaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TelaColorIntermodaBusiness" nillable="true" type="tns:TelaColorIntermodaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTelaColorIntermodaBusiness" nillable="true" type="tns:ArrayOfTelaColorIntermodaBusiness" />
</xs:schema>