Intermoda.ClientProxy.Lectura/Service References/LineaDetalleServiceReference/LineaDetalle42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IntermodaService/Lectura/LineaDetalle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" />
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" minOccurs="0" name="lineaDetalle" nillable="true" type="q1:LineaDetalleBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" minOccurs="0" name="UpdateResult" nillable="true" type="q2:LineaDetalleBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineaDetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" minOccurs="0" name="GetAllResult" nillable="true" type="q3:ArrayOfLineaDetalleBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLineaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" minOccurs="0" name="GetByLineaResult" nillable="true" type="q4:ArrayOfLineaDetalleBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLineaModulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineaId" type="xs:int" />
        <xs:element minOccurs="0" name="moduloId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLineaModuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" minOccurs="0" name="GetByLineaModuloResult" nillable="true" type="q5:ArrayOfLineaDetalleBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>