Intermoda.ClientProxy.LbDatPro/Service References/MaquiladoCajaDetalleServiceReference/MaquiladoCajaDetalle1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MaquiladoCajaDetalleBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CompaniaId" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MaquiladoCajaId" type="xs:int" />
      <xs:element minOccurs="0" name="Talla" nillable="true" type="tns:TallaBusiness" />
      <xs:element minOccurs="0" name="TallaId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaquiladoCajaDetalleBusiness" nillable="true" type="tns:MaquiladoCajaDetalleBusiness" />
  <xs:complexType name="TallaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaId" type="xs:short" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secuencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TallaBusiness" nillable="true" type="tns:TallaBusiness" />
  <xs:complexType name="ArrayOfMaquiladoCajaDetalleBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaquiladoCajaDetalleBusiness" nillable="true" type="tns:MaquiladoCajaDetalleBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaquiladoCajaDetalleBusiness" nillable="true" type="tns:ArrayOfMaquiladoCajaDetalleBusiness" />
</xs:schema>