Intermoda.ClientProxy.Lectura/Service References/JornadaServiceReference/Jornada31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JornadaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JornadaBusiness" nillable="true" type="tns:JornadaBusiness" />
  <xs:complexType name="ArrayOfJornadaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JornadaBusiness" nillable="true" type="tns:JornadaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJornadaBusiness" nillable="true" type="tns:ArrayOfJornadaBusiness" />
</xs:schema>