Intermoda.ClientProxy.Lavanderia/Service References/CatalogoServiceReference/Catalogo32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CatalogoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clase" nillable="true" type="tns:ClaseBusiness" />
      <xs:element minOccurs="0" name="ClaseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaContableCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaContableInventarioCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaVariableFija" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MedidaCompraCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedidaConsumoCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepuestoNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubClase" nillable="true" type="tns:SubClaseBusiness" />
      <xs:element minOccurs="0" name="SubClaseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelaCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRequisicionCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogoBusiness" nillable="true" type="tns:CatalogoBusiness" />
  <xs:complexType name="ClaseBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgrupacionCodigo" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="AgruparEnClaseCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaCodigo" type="xs:short" />
      <xs:element minOccurs="0" name="CuentaContable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetalleMaestra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasSinMovimiento" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManejaInventario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RotacionBaja" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="SinRotacion" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaseBusiness" nillable="true" type="tns:ClaseBusiness" />
  <xs:complexType name="SubClaseBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaCodigo" type="xs:short" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubClaseBusiness" nillable="true" type="tns:SubClaseBusiness" />
  <xs:complexType name="ArrayOfCatalogoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogoBusiness" nillable="true" type="tns:CatalogoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogoBusiness" nillable="true" type="tns:ArrayOfCatalogoBusiness" />
</xs:schema>