Intermoda.Produccion.Lecturas.ClientProxy/Service References/DataServiceReference/DataService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Produccion.Lecturas.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Produccion.Lecturas.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CentroTrabajoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="EsActivo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsObligatorio" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineaProduccionCodigo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoEspera" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TiempoProceso" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroTrabajoBusiness" nillable="true" type="tns:CentroTrabajoBusiness" />
  <xs:complexType name="ArrayOfCentroTrabajoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CentroTrabajoBusiness" nillable="true" type="tns:CentroTrabajoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCentroTrabajoBusiness" nillable="true" type="tns:ArrayOfCentroTrabajoBusiness" />
  <xs:complexType name="ProcesoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentroTrabajo" nillable="true" type="tns:CentroTrabajoBusiness" />
      <xs:element minOccurs="0" name="CentroTrabajoId" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsObligatorio" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secuencia" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoEstandar" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcesoBusiness" nillable="true" type="tns:ProcesoBusiness" />
  <xs:complexType name="ArrayOfProcesoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcesoBusiness" nillable="true" type="tns:ProcesoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcesoBusiness" nillable="true" type="tns:ArrayOfProcesoBusiness" />
  <xs:complexType name="OperacionBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoId" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="LineaProduccionId" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionPredefinida" nillable="true" type="tns:OperacionPredefinidaBusiness" />
      <xs:element minOccurs="0" name="OperacionTipoId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperacionBusiness" nillable="true" type="tns:OperacionBusiness" />
  <xs:complexType name="OperacionPredefinidaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="tns:OperacionBusiness" />
      <xs:element minOccurs="0" name="OperacionId" type="xs:int" />
      <xs:element minOccurs="0" name="Ph" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelacionBano" type="xs:int" />
      <xs:element minOccurs="0" name="Secuencia" type="xs:int" />
      <xs:element minOccurs="0" name="Temperatura" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoMaximo" type="xs:decimal" />
      <xs:element minOccurs="0" name="TiempoMinimo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperacionPredefinidaBusiness" nillable="true" type="tns:OperacionPredefinidaBusiness" />
  <xs:complexType name="ArrayOfOperacionBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperacionBusiness" nillable="true" type="tns:OperacionBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperacionBusiness" nillable="true" type="tns:ArrayOfOperacionBusiness" />
  <xs:complexType name="OperacionCentroTrabajoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentroTrabajo" nillable="true" type="tns:CentroTrabajoBusiness" />
      <xs:element minOccurs="0" name="CentroTrabajoCodigo" type="xs:int" />
      <xs:element minOccurs="0" name="CentroTrabajoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsRepetible" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="tns:OperacionBusiness" />
      <xs:element minOccurs="0" name="OperacionCodigo" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperacionCentroTrabajoBusiness" nillable="true" type="tns:OperacionCentroTrabajoBusiness" />
  <xs:complexType name="ArrayOfOperacionCentroTrabajoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperacionCentroTrabajoBusiness" nillable="true" type="tns:OperacionCentroTrabajoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperacionCentroTrabajoBusiness" nillable="true" type="tns:ArrayOfOperacionCentroTrabajoBusiness" />
</xs:schema>