Intermoda.ClientProxy.Lavanderia/Service References/PlantaServiceReference/PlantaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlantaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propietaria" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlantaBusiness" nillable="true" type="tns:PlantaBusiness" />
  <xs:complexType name="ArrayOfPlantaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlantaBusiness" nillable="true" type="tns:PlantaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlantaBusiness" nillable="true" type="tns:ArrayOfPlantaBusiness" />
</xs:schema>