Intermoda.ClientProxy.Lavanderia/Service References/MaquinaCapacidadServiceReference/MaquinaCapacidad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IntermodaService/Lavanderia/MaquinaCapacidad.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Common.Enum" />
  <xs:complexType name="MaquinaCapacidadBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapacidadCanastaLitro" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CapacidadMaximaKg" type="xs:decimal" />
      <xs:element minOccurs="0" name="CapacidadMinimaKg" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intermoda.Common.Enum" minOccurs="0" name="Tipo" type="q1:MaquinaTipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaquinaCapacidadBusiness" nillable="true" type="tns:MaquinaCapacidadBusiness" />
  <xs:complexType name="ArrayOfMaquinaCapacidadBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaquinaCapacidadBusiness" nillable="true" type="tns:MaquinaCapacidadBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaquinaCapacidadBusiness" nillable="true" type="tns:ArrayOfMaquinaCapacidadBusiness" />
</xs:schema>