Intermoda.ClientProxy.LbDatPro/Service References/OrdenProduccionExternoServiceReference/OrdenProduccionExterno31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrdenProduccionExternoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenProduccionExternoBusiness" nillable="true" type="tns:OrdenProduccionExternoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenProduccionExternoBusiness" nillable="true" type="tns:ArrayOfOrdenProduccionExternoBusiness" />
  <xs:complexType name="OrdenProduccionExternoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" type="xs:short" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CentroTrabajoSiguiente" nillable="true" type="tns:CentroTrabajoBusiness" />
      <xs:element minOccurs="0" name="CentroTrabajoSiguienteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CentroTrabajoUltimaLectura" nillable="true" type="tns:CentroTrabajoBusiness" />
      <xs:element minOccurs="0" name="CentroTrabajoUltimaLecturaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaId" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:OrdenEstadoBusiness" />
      <xs:element minOccurs="0" name="EstadoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoLeyenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lavado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:short" />
      <xs:element minOccurs="0" name="OrdenProduccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patron" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta" nillable="true" type="tns:ArrayOfPasoRutaBusiness" />
      <xs:element minOccurs="0" name="SiguienteLecturaTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Variante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenProduccionExternoBusiness" nillable="true" type="tns:OrdenProduccionExternoBusiness" />
  <xs:complexType name="CentroTrabajoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompaniaId" type="xs:short" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroTrabajoBusiness" nillable="true" type="tns:CentroTrabajoBusiness" />
  <xs:complexType name="OrdenEstadoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CentroCostoAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CentroTrabajoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secuencia" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenEstadoBusiness" nillable="true" type="tns:OrdenEstadoBusiness" />
  <xs:complexType name="ArrayOfPasoRutaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PasoRutaBusiness" nillable="true" type="tns:PasoRutaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPasoRutaBusiness" nillable="true" type="tns:ArrayOfPasoRutaBusiness" />
  <xs:complexType name="PasoRutaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" type="xs:short" />
      <xs:element minOccurs="0" name="CentroTrabajoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaId" type="xs:short" />
      <xs:element minOccurs="0" name="Numero" type="xs:short" />
      <xs:element minOccurs="0" name="PlantaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secuencia" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasoRutaBusiness" nillable="true" type="tns:PasoRutaBusiness" />
</xs:schema>