Intermoda.ClientProxy.LbDatPro/Service References/OrdenProduccionExternoServiceReference/OrdenProduccionExterno1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrdenProduccionExterno" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://190.5.95.110/ImDataServiceLb/OrdenProduccionExterno.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://190.5.95.110/ImDataServiceLb/OrdenProduccionExterno.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://190.5.95.110/ImDataServiceLb/OrdenProduccionExterno.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrdenProduccionExterno_GetByUsuarioPlanta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByUsuarioPlanta" />
  </wsdl:message>
  <wsdl:message name="IOrdenProduccionExterno_GetByUsuarioPlanta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByUsuarioPlantaResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenProduccionExterno_SetEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEstado" />
  </wsdl:message>
  <wsdl:message name="IOrdenProduccionExterno_SetEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenProduccionExterno_GrabarLectura_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarLectura" />
  </wsdl:message>
  <wsdl:message name="IOrdenProduccionExterno_GrabarLectura_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarLecturaResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdenProduccionExterno_SetEstadoEnviarIntermoda_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEstadoEnviarIntermoda" />
  </wsdl:message>
  <wsdl:message name="IOrdenProduccionExterno_SetEstadoEnviarIntermoda_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEstadoEnviarIntermodaResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrdenProduccionExterno">
    <wsdl:operation name="GetByUsuarioPlanta">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenProduccionExterno/GetByUsuarioPlanta" message="tns:IOrdenProduccionExterno_GetByUsuarioPlanta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenProduccionExterno/GetByUsuarioPlantaResponse" message="tns:IOrdenProduccionExterno_GetByUsuarioPlanta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenProduccionExterno/SetEstado" message="tns:IOrdenProduccionExterno_SetEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenProduccionExterno/SetEstadoResponse" message="tns:IOrdenProduccionExterno_SetEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarLectura">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenProduccionExterno/GrabarLectura" message="tns:IOrdenProduccionExterno_GrabarLectura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenProduccionExterno/GrabarLecturaResponse" message="tns:IOrdenProduccionExterno_GrabarLectura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEstadoEnviarIntermoda">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdenProduccionExterno/SetEstadoEnviarIntermoda" message="tns:IOrdenProduccionExterno_SetEstadoEnviarIntermoda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdenProduccionExterno/SetEstadoEnviarIntermodaResponse" message="tns:IOrdenProduccionExterno_SetEstadoEnviarIntermoda_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrdenProduccionExterno" type="tns:IOrdenProduccionExterno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByUsuarioPlanta">
      <soap:operation soapAction="http://tempuri.org/IOrdenProduccionExterno/GetByUsuarioPlanta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEstado">
      <soap:operation soapAction="http://tempuri.org/IOrdenProduccionExterno/SetEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarLectura">
      <soap:operation soapAction="http://tempuri.org/IOrdenProduccionExterno/GrabarLectura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEstadoEnviarIntermoda">
      <soap:operation soapAction="http://tempuri.org/IOrdenProduccionExterno/SetEstadoEnviarIntermoda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrdenProduccionExterno">
    <wsdl:port name="BasicHttpBinding_IOrdenProduccionExterno" binding="tns:BasicHttpBinding_IOrdenProduccionExterno">
      <soap:address location="http://190.5.95.110/ImDataServiceLb/OrdenProduccionExterno.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>