Intermoda.ClientProxy.Lectura/Service References/JornadaDetalleServiceReference/JornadaDetalle32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JornadaDetalleBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntradaHora" type="xs:int" />
      <xs:element minOccurs="0" name="EntradaMinuto" type="xs:int" />
      <xs:element minOccurs="0" name="Horas" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JornadaId" type="xs:int" />
      <xs:element minOccurs="0" name="Minutos" type="xs:int" />
      <xs:element minOccurs="0" name="SalidaHora" type="xs:int" />
      <xs:element minOccurs="0" name="SalidaMinuto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JornadaDetalleBusiness" nillable="true" type="tns:JornadaDetalleBusiness" />
  <xs:complexType name="ArrayOfJornadaDetalleBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JornadaDetalleBusiness" nillable="true" type="tns:JornadaDetalleBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJornadaDetalleBusiness" nillable="true" type="tns:ArrayOfJornadaDetalleBusiness" />
</xs:schema>