Intermoda.ClientProxy.LbDatPro/Service References/PlantaServiceReference/Planta32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://190.5.95.110/ImDataServiceLb/Planta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" />
  <xs:element name="GetByUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" minOccurs="0" name="GetByUsuarioResult" nillable="true" type="q1:PlantaBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratistas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratistasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" minOccurs="0" name="GetContratistasResult" nillable="true" type="q2:ArrayOfPlantaBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="plantaId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveOld" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveNew" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>