Intermoda.ClientProxy.LbDatPro/Service References/PlantaServiceReference/Planta3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlantaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="BodegaId" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaId" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneraTicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Habilitar" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Iniciales" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NuevoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProveedorId" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ProveedorNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlantaBusiness" nillable="true" type="tns:PlantaBusiness" />
</xs:schema>