Intermoda.ClientProxy.Lavanderia/Service References/ArchivoGlobalServiceReference/ArchivoGlobal1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArchivoGlobal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/IntermodaService/Lavanderia/ArchivoGlobal.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/IntermodaService/Lavanderia/ArchivoGlobal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/IntermodaService/Lavanderia/ArchivoGlobal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArchivoGlobal_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IArchivoGlobal_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IArchivoGlobal_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IArchivoGlobal_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IArchivoGlobal_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IArchivoGlobal_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IArchivoGlobal_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IArchivoGlobal_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IArchivoGlobal_GetByPropietario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByPropietario" />
  </wsdl:message>
  <wsdl:message name="IArchivoGlobal_GetByPropietario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByPropietarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IArchivoGlobal">
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchivoGlobal/Update" message="tns:IArchivoGlobal_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchivoGlobal/UpdateResponse" message="tns:IArchivoGlobal_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchivoGlobal/Delete" message="tns:IArchivoGlobal_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchivoGlobal/DeleteResponse" message="tns:IArchivoGlobal_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchivoGlobal/Get" message="tns:IArchivoGlobal_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchivoGlobal/GetResponse" message="tns:IArchivoGlobal_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchivoGlobal/GetAll" message="tns:IArchivoGlobal_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchivoGlobal/GetAllResponse" message="tns:IArchivoGlobal_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByPropietario">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchivoGlobal/GetByPropietario" message="tns:IArchivoGlobal_GetByPropietario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchivoGlobal/GetByPropietarioResponse" message="tns:IArchivoGlobal_GetByPropietario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArchivoGlobal" type="tns:IArchivoGlobal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IArchivoGlobal/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IArchivoGlobal/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IArchivoGlobal/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IArchivoGlobal/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByPropietario">
      <soap:operation soapAction="http://tempuri.org/IArchivoGlobal/GetByPropietario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArchivoGlobal">
    <wsdl:port name="BasicHttpBinding_IArchivoGlobal" binding="tns:BasicHttpBinding_IArchivoGlobal">
      <soap:address location="http://localhost/IntermodaService/Lavanderia/ArchivoGlobal.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>