Intermoda.ClientProxy.Lavanderia/Service References/ArchivoGlobalServiceReference/ArchivoGlobal32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArchivoGlobalBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Binario" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lavado" nillable="true" type="tns:LavadoBusiness" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="PropietarioId" type="xs:int" />
      <xs:element minOccurs="0" name="PropietarioNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArchivoGlobalBusiness" nillable="true" type="tns:ArchivoGlobalBusiness" />
  <xs:complexType name="LavadoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorId" type="xs:int" />
      <xs:element minOccurs="0" name="ColorIntermoda" nillable="true" type="tns:ColoresIntermodaBusiness" />
      <xs:element minOccurs="0" name="IsActivo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LavadoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LavadoFechaActualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LavadoFechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LavadoId" type="xs:int" />
      <xs:element minOccurs="0" name="LavadoNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LavadoBusiness" nillable="true" type="tns:LavadoBusiness" />
  <xs:complexType name="ColoresIntermodaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColoresIntermodaBusiness" nillable="true" type="tns:ColoresIntermodaBusiness" />
  <xs:complexType name="ArrayOfArchivoGlobalBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchivoGlobalBusiness" nillable="true" type="tns:ArchivoGlobalBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchivoGlobalBusiness" nillable="true" type="tns:ArrayOfArchivoGlobalBusiness" />
</xs:schema>