Intermoda.ClientProxy.Lavanderia/Service References/ArchivoGlobalServiceReference/ArchivoGlobal31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IntermodaService/Lavanderia/ArchivoGlobal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" />
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" minOccurs="0" name="archivoGlobal" nillable="true" type="q1:ArchivoGlobalBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" minOccurs="0" name="UpdateResult" nillable="true" type="q2:ArchivoGlobalBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archivoGlobalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archivoGlobalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" minOccurs="0" name="GetResult" nillable="true" type="q3:ArchivoGlobalBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" minOccurs="0" name="GetAllResult" nillable="true" type="q4:ArrayOfArchivoGlobalBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByPropietario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propietarioId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByPropietarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" minOccurs="0" name="GetByPropietarioResult" nillable="true" type="q5:ArchivoGlobalBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>