Intermoda.ClientProxy.LbDatPro/Service References/OrdenProduccionDetalleServiceReference/OrdenProduccionDetalle2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrdenProduccionBultoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenProduccionBultoBusiness" nillable="true" type="tns:OrdenProduccionBultoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenProduccionBultoBusiness" nillable="true" type="tns:ArrayOfOrdenProduccionBultoBusiness" />
  <xs:complexType name="OrdenProduccionBultoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:short" />
      <xs:element minOccurs="0" name="CompaniaId" type="xs:short" />
      <xs:element minOccurs="0" name="Numero" type="xs:short" />
      <xs:element minOccurs="0" name="OrdenAno" type="xs:short" />
      <xs:element minOccurs="0" name="OrdenNumero" type="xs:short" />
      <xs:element minOccurs="0" name="Talla" nillable="true" type="tns:TallaBusiness" />
      <xs:element minOccurs="0" name="TallaCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenProduccionBultoBusiness" nillable="true" type="tns:OrdenProduccionBultoBusiness" />
  <xs:complexType name="TallaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaId" type="xs:short" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secuencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TallaBusiness" nillable="true" type="tns:TallaBusiness" />
  <xs:complexType name="ArrayOfOrdenProduccionTallaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdenProduccionTallaBusiness" nillable="true" type="tns:OrdenProduccionTallaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdenProduccionTallaBusiness" nillable="true" type="tns:ArrayOfOrdenProduccionTallaBusiness" />
  <xs:complexType name="OrdenProduccionTallaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CompaniaId" type="xs:short" />
      <xs:element minOccurs="0" name="OrdenAno" type="xs:short" />
      <xs:element minOccurs="0" name="OrdenNumero" type="xs:short" />
      <xs:element minOccurs="0" name="Talla" nillable="true" type="tns:TallaBusiness" />
      <xs:element minOccurs="0" name="TallaCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenProduccionTallaBusiness" nillable="true" type="tns:OrdenProduccionTallaBusiness" />
</xs:schema>