Intermoda.ClientProxy.Lavanderia/Service References/LavadoraServiceReference/Lavadora1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LavadoraBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="DireccionIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionMac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="LavadoraCapacidad" nillable="true" type="tns:LavadoraCapacidadBusiness" />
      <xs:element minOccurs="0" name="LavadoraCapacidadId" type="xs:short" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSerie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LavadoraBusiness" nillable="true" type="tns:LavadoraBusiness" />
  <xs:complexType name="LavadoraCapacidadBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapacidadCanastaLitro" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CapacidadMaximaKg" type="xs:decimal" />
      <xs:element minOccurs="0" name="CapacidadMinimaKg" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LavadoraCapacidadBusiness" nillable="true" type="tns:LavadoraCapacidadBusiness" />
  <xs:complexType name="ArrayOfLavadoraBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LavadoraBusiness" nillable="true" type="tns:LavadoraBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLavadoraBusiness" nillable="true" type="tns:ArrayOfLavadoraBusiness" />
</xs:schema>