Intermoda.ClientProxy.LbDatPro/Service References/InasistenciaServiceReference/Inasistencia32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://190.5.95.110/ImDataServiceLb/Inasistencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" />
  <xs:element name="GetByFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" minOccurs="0" name="GetByFechaResult" nillable="true" type="q1:ArrayOfInasistenciaBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByEmpleadoFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companiaCodigo" type="xs:short" />
        <xs:element minOccurs="0" name="empleadoCodigo" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByEmpleadoFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" minOccurs="0" name="GetByEmpleadoFechaResult" nillable="true" type="q2:ArrayOfInasistenciaBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>