Intermoda.ClientProxy.Lavanderia/Service References/IngredientePredefinidoServiceReference/IngredientePredefinido31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IngredientePredefinidoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Catalogo" nillable="true" type="tns:CatalogoBusiness" />
      <xs:element minOccurs="0" name="Clase" nillable="true" type="tns:ClaseBusiness" />
      <xs:element minOccurs="0" name="ClaseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IngredienteId" type="xs:int" />
      <xs:element minOccurs="0" name="InstruccionPredefinida" nillable="true" type="tns:InstruccionPredefinidaBusiness" />
      <xs:element minOccurs="0" name="InstruccionPredefinidaId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="tns:OperacionBusiness" />
      <xs:element minOccurs="0" name="OperacionId" type="xs:int" />
      <xs:element minOccurs="0" name="Orden" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Porcentaje" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubClase" nillable="true" type="tns:SubClaseBusiness" />
      <xs:element minOccurs="0" name="SubClaseId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IngredientePredefinidoBusiness" nillable="true" type="tns:IngredientePredefinidoBusiness" />
  <xs:complexType name="CatalogoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuentaContableCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaContableInventarioCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaVariableFija" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MedidaCompraCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedidaConsumoCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepuestoNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelaCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRequisicionCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogoBusiness" nillable="true" type="tns:CatalogoBusiness" />
  <xs:complexType name="ClaseBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgrupacionCodigo" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="AgruparEnClaseCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaCodigo" type="xs:short" />
      <xs:element minOccurs="0" name="CuentaContable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetalleMaestra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasSinMovimiento" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManejaInventario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RotacionBaja" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="SinRotacion" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaseBusiness" nillable="true" type="tns:ClaseBusiness" />
  <xs:complexType name="InstruccionPredefinidaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OpeacionPredefinida" nillable="true" type="tns:OperacionPredefinidaBusiness" />
      <xs:element minOccurs="0" name="OperacionPredefinidaId" type="xs:int" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Temperatura" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoMaximo" type="xs:decimal" />
      <xs:element minOccurs="0" name="TiempoMinimo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstruccionPredefinidaBusiness" nillable="true" type="tns:InstruccionPredefinidaBusiness" />
  <xs:complexType name="OperacionPredefinidaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="tns:OperacionBusiness" />
      <xs:element minOccurs="0" name="OperacionId" type="xs:int" />
      <xs:element minOccurs="0" name="Ph" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelacionBano" type="xs:int" />
      <xs:element minOccurs="0" name="Secuencia" type="xs:int" />
      <xs:element minOccurs="0" name="Temperatura" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoMaximo" type="xs:decimal" />
      <xs:element minOccurs="0" name="TiempoMinimo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperacionPredefinidaBusiness" nillable="true" type="tns:OperacionPredefinidaBusiness" />
  <xs:complexType name="OperacionBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoId" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="LineaProduccionId" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionPredefinida" nillable="true" type="tns:OperacionPredefinidaBusiness" />
      <xs:element minOccurs="0" name="OperacionTipoId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperacionBusiness" nillable="true" type="tns:OperacionBusiness" />
  <xs:complexType name="SubClaseBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaCodigo" type="xs:short" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubClaseBusiness" nillable="true" type="tns:SubClaseBusiness" />
  <xs:complexType name="ArrayOfIngredientePredefinidoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IngredientePredefinidoBusiness" nillable="true" type="tns:IngredientePredefinidoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredientePredefinidoBusiness" nillable="true" type="tns:ArrayOfIngredientePredefinidoBusiness" />
</xs:schema>