Intermoda.ClientProxy.Lavanderia/Service References/LavadoServiceReference/Lavado3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LavadoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorId" type="xs:int" />
      <xs:element minOccurs="0" name="ColorIntermoda" nillable="true" type="tns:ColoresIntermodaBusiness" />
      <xs:element minOccurs="0" name="IsActivo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LavadoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LavadoFechaActualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LavadoFechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LavadoId" type="xs:int" />
      <xs:element minOccurs="0" name="LavadoNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LavadoBusiness" nillable="true" type="tns:LavadoBusiness" />
  <xs:complexType name="ColoresIntermodaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColoresIntermodaBusiness" nillable="true" type="tns:ColoresIntermodaBusiness" />
  <xs:complexType name="ArrayOfLavadoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LavadoBusiness" nillable="true" type="tns:LavadoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLavadoBusiness" nillable="true" type="tns:ArrayOfLavadoBusiness" />
</xs:schema>