Intermoda.Reports.Native/Service References/ServiceReference/DataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Produccion.Lecturas.Business.LbDatPro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Produccion.Lecturas.Business.LbDatPro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmpleadoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CompaniaCodigo" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadoBusiness" nillable="true" type="tns:EmpleadoBusiness" />
  <xs:complexType name="ArrayOfEmpleadoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpleadoBusiness" nillable="true" type="tns:EmpleadoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleadoBusiness" nillable="true" type="tns:ArrayOfEmpleadoBusiness" />
  <xs:complexType name="ArrayOfInasistenciaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InasistenciaBusiness" nillable="true" type="tns:InasistenciaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInasistenciaBusiness" nillable="true" type="tns:ArrayOfInasistenciaBusiness" />
  <xs:complexType name="InasistenciaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompaniaCodigo" type="xs:short" />
      <xs:element minOccurs="0" name="EmpleadoCodigo" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MinutosConPermiso" type="xs:int" />
      <xs:element minOccurs="0" name="MinutosSinPermiso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InasistenciaBusiness" nillable="true" type="tns:InasistenciaBusiness" />
</xs:schema>