Intermoda.ClientProxy.Lavanderia/Service References/SubClaseServiceReference/SubClase31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubClaseBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompaniaCodigo" type="xs:short" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubClaseBusiness" nillable="true" type="tns:SubClaseBusiness" />
  <xs:complexType name="ArrayOfSubClaseBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubClaseBusiness" nillable="true" type="tns:SubClaseBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubClaseBusiness" nillable="true" type="tns:ArrayOfSubClaseBusiness" />
</xs:schema>