Intermoda.ClientProxy.Lectura/Service References/LineaServiceReference/Linea43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lecturas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IntermodaService/Lectura/Linea.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Common.Enum" />
  <xs:complexType name="LineaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="GrupoId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secuencia" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intermoda.Common.Enum" minOccurs="0" name="Tipo" type="q1:LineaTipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineaBusiness" nillable="true" type="tns:LineaBusiness" />
  <xs:complexType name="ArrayOfLineaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineaBusiness" nillable="true" type="tns:LineaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineaBusiness" nillable="true" type="tns:ArrayOfLineaBusiness" />
</xs:schema>