Intermoda.ClientProxy.LbDatPro/Service References/LecturaServiceReference/Lecturas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LecturaCuponBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorId" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LecturaCuponBusiness" nillable="true" type="tns:LecturaCuponBusiness" />
</xs:schema>