Intermoda.ClientProxy.Lavanderia/Service References/ProcesoServiceReference/Proceso32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProcesoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentroTrabajo" nillable="true" type="tns:CTrabajoBusiness" />
      <xs:element minOccurs="0" name="CentroTrabajoId" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsObligatorio" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secuencia" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoEstandar" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcesoBusiness" nillable="true" type="tns:ProcesoBusiness" />
  <xs:complexType name="CTrabajoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="EsActivo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsObligatorio" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineaProduccionCodigo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoEspera" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TiempoProceso" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTrabajoBusiness" nillable="true" type="tns:CTrabajoBusiness" />
  <xs:complexType name="ArrayOfProcesoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcesoBusiness" nillable="true" type="tns:ProcesoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcesoBusiness" nillable="true" type="tns:ArrayOfProcesoBusiness" />
</xs:schema>