Intermoda.ClientProxy.Lavanderia/Service References/ColorIntermodaServiceReference/ColorIntermoda3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ColorIntermodaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorIntermodaBusiness" nillable="true" type="tns:ColorIntermodaBusiness" />
  <xs:complexType name="ArrayOfColorIntermodaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColorIntermodaBusiness" nillable="true" type="tns:ColorIntermodaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColorIntermodaBusiness" nillable="true" type="tns:ArrayOfColorIntermodaBusiness" />
</xs:schema>