Intermoda.ClientProxy.LbDatPro/Service References/EmpleadoServiceReference/Empleado1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Empleado" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://190.5.95.110/ImDataServiceLb/Empleado.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://190.5.95.110/ImDataServiceLb/Empleado.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://190.5.95.110/ImDataServiceLb/Empleado.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpleado_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_GetAllActivos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActivos" />
  </wsdl:message>
  <wsdl:message name="IEmpleado_GetAllActivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActivosResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpleado">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleado/Get" message="tns:IEmpleado_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleado/GetResponse" message="tns:IEmpleado_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleado/GetAllActivos" message="tns:IEmpleado_GetAllActivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleado/GetAllActivosResponse" message="tns:IEmpleado_GetAllActivos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpleado" type="tns:IEmpleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IEmpleado/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActivos">
      <soap:operation soapAction="http://tempuri.org/IEmpleado/GetAllActivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empleado">
    <wsdl:port name="BasicHttpBinding_IEmpleado" binding="tns:BasicHttpBinding_IEmpleado">
      <soap:address location="http://190.5.95.110/ImDataServiceLb/Empleado.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>