Intermoda.ClientProxy.LbDatPro/Service References/EmpleadoServiceReference/Empleado32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmpleadoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="CompaniaCodigo" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadoBusiness" nillable="true" type="tns:EmpleadoBusiness" />
  <xs:complexType name="ArrayOfEmpleadoBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpleadoBusiness" nillable="true" type="tns:EmpleadoBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleadoBusiness" nillable="true" type="tns:ArrayOfEmpleadoBusiness" />
</xs:schema>