Intermoda.ClientProxy.LbDatPro/Service References/MaquiladoCajaServiceReference/MaquiladoCaja.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MaquiladoCajaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompaniaId" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="OrdenAno" type="xs:short" />
      <xs:element minOccurs="0" name="OrdenNumero" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaquiladoCajaBusiness" nillable="true" type="tns:MaquiladoCajaBusiness" />
  <xs:complexType name="ArrayOfMaquiladoCajaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaquiladoCajaBusiness" nillable="true" type="tns:MaquiladoCajaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaquiladoCajaBusiness" nillable="true" type="tns:ArrayOfMaquiladoCajaBusiness" />
</xs:schema>