Intermoda.ClientProxy.LbDatPro/Service References/MaquiladoCajaServiceReference/MaquiladoCaja1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaquiladoCaja" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://190.5.95.110/ImDataServiceLb/MaquiladoCaja.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://190.5.95.110/ImDataServiceLb/MaquiladoCaja.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://190.5.95.110/ImDataServiceLb/MaquiladoCaja.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.LbDatPro" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaquiladoCaja_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IMaquiladoCaja_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaquiladoCaja_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMaquiladoCaja_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMaquiladoCaja_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IMaquiladoCaja_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IMaquiladoCaja_GetByOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByOrden" />
  </wsdl:message>
  <wsdl:message name="IMaquiladoCaja_GetByOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="IMaquiladoCaja_GetDetalleByOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleByOrden" />
  </wsdl:message>
  <wsdl:message name="IMaquiladoCaja_GetDetalleByOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleByOrdenResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaquiladoCaja">
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquiladoCaja/Update" message="tns:IMaquiladoCaja_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquiladoCaja/UpdateResponse" message="tns:IMaquiladoCaja_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquiladoCaja/Delete" message="tns:IMaquiladoCaja_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquiladoCaja/DeleteResponse" message="tns:IMaquiladoCaja_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquiladoCaja/Get" message="tns:IMaquiladoCaja_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquiladoCaja/GetResponse" message="tns:IMaquiladoCaja_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquiladoCaja/GetByOrden" message="tns:IMaquiladoCaja_GetByOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquiladoCaja/GetByOrdenResponse" message="tns:IMaquiladoCaja_GetByOrden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetalleByOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaquiladoCaja/GetDetalleByOrden" message="tns:IMaquiladoCaja_GetDetalleByOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaquiladoCaja/GetDetalleByOrdenResponse" message="tns:IMaquiladoCaja_GetDetalleByOrden_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMaquiladoCaja" type="tns:IMaquiladoCaja">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IMaquiladoCaja/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMaquiladoCaja/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IMaquiladoCaja/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByOrden">
      <soap:operation soapAction="http://tempuri.org/IMaquiladoCaja/GetByOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetalleByOrden">
      <soap:operation soapAction="http://tempuri.org/IMaquiladoCaja/GetDetalleByOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaquiladoCaja">
    <wsdl:port name="BasicHttpBinding_IMaquiladoCaja" binding="tns:BasicHttpBinding_IMaquiladoCaja">
      <soap:address location="http://190.5.95.110/ImDataServiceLb/MaquiladoCaja.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>