Intermoda.ClientProxy.Lavanderia/Service References/ObservacionPredefinidaServiceReference/ObservacionPredefinida31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intermoda.Business.Lavanderia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObservacionPredefinidaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="tns:OperacionBusiness" />
      <xs:element minOccurs="0" name="OperacionId" type="xs:int" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Posicion" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObservacionPredefinidaBusiness" nillable="true" type="tns:ObservacionPredefinidaBusiness" />
  <xs:complexType name="OperacionBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoId" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="LineaProduccionId" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionPredefinida" nillable="true" type="tns:OperacionPredefinidaBusiness" />
      <xs:element minOccurs="0" name="OperacionTipoId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperacionBusiness" nillable="true" type="tns:OperacionBusiness" />
  <xs:complexType name="OperacionPredefinidaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="tns:OperacionBusiness" />
      <xs:element minOccurs="0" name="OperacionId" type="xs:int" />
      <xs:element minOccurs="0" name="Ph" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelacionBano" type="xs:int" />
      <xs:element minOccurs="0" name="Secuencia" type="xs:int" />
      <xs:element minOccurs="0" name="Temperatura" type="xs:int" />
      <xs:element minOccurs="0" name="TiempoMaximo" type="xs:decimal" />
      <xs:element minOccurs="0" name="TiempoMinimo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperacionPredefinidaBusiness" nillable="true" type="tns:OperacionPredefinidaBusiness" />
  <xs:complexType name="ArrayOfObservacionPredefinidaBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObservacionPredefinidaBusiness" nillable="true" type="tns:ObservacionPredefinidaBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObservacionPredefinidaBusiness" nillable="true" type="tns:ArrayOfObservacionPredefinidaBusiness" />
</xs:schema>